<ion-header>
  <ion-navbar>
    <ion-title>
      Inmuebles en Renta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let dep of depas' col-4>
          <ion-card>
            <img *ngIf="dep.hasOwnProperty('pictures')"
            src="{{dep.pictures[0].url}}">
            <ion-card-content>
             <h1 *ngIf="dep.hasOwnProperty('price')">
                 Renta: {{dep.price.formattedAmount}} <!--Precio-->
              </h1>
               <h2 *ngIf="dep.hasOwnProperty('geo')">
                Ubicación: {{dep.geo.name}},  {{dep.geo.displayName}} <!--Ubicación-->
               </h2>

            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
